@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav{
    display: flex;
    justify-content:  space-between;
    padding: 24px 160px;
    background-color: #F5F5F5;
    font-family:Fira Sans;
}
.btn{
    width: 116px;
    height: 52px;
    background-color: white;
    border-radius: 8px;
    color: #006A50;
}

/* Banner design */
.Banner{
    background-color: #C6E4D6;
    margin: 20px 160px 80px 160px;

}
.header{
    font-weight: 24px;
    color: #0E0E0E;
}
.secondarydiv{
    padding: 117px 598px 117px 59.9px;
}
.maindiv{
    display: flex;
    gap:64px;
}
