@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav{
    display: flex;
    justify-content:  space-between;
    padding: 24px 160px;
    background-color: #F5F5F5;
    font-family:Fira Sans;
}
.btn{
    width: 116px;
    height: 52px;
    background-color: white;
    border-radius: 8px;
    color: #006A50;
    border: solid #006A50;
}

/* Banner design */
.Banner{
    
    background-color: #C6E4D6;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;

}
.header{
    font-family: Fira Sans;
    font-weight: 24px;
    color: #767373;
    margin-bottom: 16px;
}
.secondarydiv{
    padding: 117px 598px 117px 59.9px;
}

.secondarydiv2{
    
    
    justify-content: end;
}

.image{
    /* width: 474px;
    height: 400px; */
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.maindiv{
    display: flex;
    flex-direction: row;
    padding: 80px 100px 80px 100px;
    gap:64px;
 
}

.btn2{
    background-color: #006A50;
    color: white;
    font-family: Fira Sans;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}
.paragraph{

    font-weight: bold;
    font-family:Fira Sans;
    font-size: 56px;
}
/* pillar of Bangladesh */
.pillar{
    background-color: #F1F1F3;
    margin: 80px 160px;
}

.pillar-title{
    font-weight: bold;
    font-family: Fira Sans;
}

.class1{
    
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-top: 32px;
}

.class2{
    box-shadow: 10px black;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: #F1F1F3 solid;
    box-shadow: #006A50;
    padding: 24px 24px 24px 24px;
}

.title2{
    font-family: Fira Sans;
    font-weight: 20px;
}
.paragraph2{
    font-family: Fira Sans;
    font-weight: 16px;
}
.card-icon{
    padding-bottom: 24px;
}
/* Vission section */
.vision{
    
    gap:24px;
    padding-top: 80px;
    padding-bottom: 80px;
    
    margin-left: 412px;
    margin-right: 412px;
}
.vision-heading{
   font-family: Fira Sans;
   font-weight: 40px;
}
.vision-para{
  
    font-family: Fira Sans;
    font-weight: 16px;
}
.class3{
    background-color:  #548ff54a ;
    padding: 32px 32px;
    border: none;
    border-radius: 16px;
    width: 410px;
}
.btn21{
    background-color: #5490F5;
    color: white;
    font-family: Fira Sans;
    font-weight: 16px;
    border: none;
    border-radius: 8px;
    
   width: 122px;
   height: 41px;
    
    
}
.class4{
   background-color: #C6E4D6;
   padding: 32px 32px;
    border: none;
    border-radius: 16px;
    width: 410px;
}

.btn3{
    background-color:#09A15C;
    border: none;
    color: white;
    font-family: Fira Sans;
    font-weight: 16px;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: auto;
    width: 122px;
    height: 41px;
    

}
.class5{
    font-family: Fira Sans;
    background-color: #F7EBCF;
    padding: 24px;
    border-radius: 16px;
    border: none;
    width: 410px;
}

.btn4{
    color: #feffff;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    padding: 11px 8px;
    font-family: Fira Sans;
    font-weight: 16px;
    margin-top: auto;
    width: 122px;
    height: 41px;
    
}

.quote{
    background-color: #FFFFFF;
    padding: 48px 24px;
    border: none;
    border-radius: 16px;
    margin-top: 32px;
    
}

.img-quote{
    width: 64px;
    height: 64px;

}
.back{
    background-image: url("./assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
   background-size: 64px 64px;
     padding-top: 25px;
}

/* news */
.recent-news-heading{
    font-family: Fira Sans;
    font-size: 40px;
    margin-top: 80px;
    padding-bottom: 24px;
}

.class6{
    margin-bottom: 32px;
}

.recent-news{
    
    margin-left: 412px;
    margin-right: 412px;
    
    }

.news-main-div{
      display: flex;
  justify-content: space-around;
    background-color: #FFFFFF;
        border-radius: 24px;
        gap:32px;
        padding: 48px;
 }

.satelite-image{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

.recent-news-heading{
    font-family: Fira Sans;
    font-weight: bold;
}

.p1{
   font-family: Fira Sans;
   font-weight: 16px;
}

.p2{
    font-family: Fira Sans;
    font-weight: 16px;
}

.btn6{
    background-color: #006A50;
    color: white;
    width: 139px;
    height: 48px;
    padding: 13px 26px;
    border-radius: 8px;
}
.news-main-div-new{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 24px;
    gap:32px;
    padding: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
}

/*Donation Box*/
.donation{
    margin-left: 412px;
    margin-right: 412px;
    margin-top: 80px;
    width:1280px;
    height: 464px;

}

.heading-donate{
    font-family: Fira Sans;
    font-weight: Bold;
     text-align: center;
     margin-bottom: 24px;
}

.paragraph-donate{
    font-family: Fira Sans;
    font-weight: 16px;
    text-align: center;
    margin-bottom: 32px;
}

.box-donate{
}
.parent-box-donate{
    display: flex;
    gap:24px;
    padding-left: 104.5px;
    padding-right: 104.5px;
   width: 1071px;
   height: 124px;    
    margin-bottom: 32px;

}
.btn-tk{
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 40px;
    width: 243px;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 40px;
    border: none;
    text-align: auto;
    color:black;
}
.btn-tk1000{
    width: 264px;
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 40px;
    border: none;
    text-align: auto;
    color:black;
     
}
.btn-tk:hover{
    background-color:#C6E4D6;

}

.btn-tk1000:hover{
    background-color: #C6E4D6;
}

.taka{
    padding: 20px 40px;
    background-color: #FFFFFF;
    padding: 124px;
    padding-right: 124px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 1032px;
    margin-bottom: 32px;
    border: none;
    border-radius: 16px;
    text-align: center;
}

.btn-donate{
    background-color: #006A50;
    color: #F1F1F3;
    padding: 17px 34px 17px 34px;
    border: none;
    border-radius: 8px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: SemiBold;
    margin-left: 564.5px;
    margin-right: 564.5px;

    width: 151px;
}
/* challenge part */

.challenge{
    background-color: #C6E4D6;
    margin: 80px 412px 80px 412px;
    border-radius: 24px;
    border: none;
    padding: 80px 100px;
    width: 1280px;
    
}

.challenge-header{
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 40px;
    margin-left: 329px;
    margin-right: 329px;
    text-align: center;
}

.challenge-para{
    font-family: Fira Sans;
    font-size: 16px ;
    font-weight: normal;
    margin-top: 16px;
    margin-left: 329px;
    margin-right: 329px;
    text-align: center;
     color:rgba(14, 14, 14, 0.7);
}

.challenge-input-div{
    margin-bottom:24px ;
    margin-left: 265px;
    margin-right: 265px;
    display: flex;
    gap 0px;
    flex-direction: row;
}

.challenge-input{
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 18px 40px;
    width: 600px;
    
}
.challenge-btn{
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    font-family: Fira Sans;
    padding: 17px 34px;
    color: white;
    width: 150px;
    height: 56px;
}

.challenge-footer{
    font-family: Fira Sans;
    color: rgba(14, 14, 14, 0.7);
    font-size:16px;
    margin-left: 329px;
    margin-right: 329px;
    margin-bottom: 80px;
    margin-top: 24px;
    text-align: center;
}
/* footer design */
.main-footer{
    background-color: #FFFFFF;
    margin-top: 80px;
}


.hf{
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: bold;
    margin-left: 941px;
    margin-right: 941px;
    padding-top: 50px;
    padding-bottom: 32px;
    gap:auto;

}
#newline{
    margin-left: 491px;
    margin-right: 491px;
    color: #767373;
}

#newline:hover{
    color: #5490F5;
}

.footer-img{
    display: flex;
    margin-left: 991.73px;
    margin-right: 991.73px;
}